.env
*.env

.sellking/
sellking/

.sellking_real_estate_agents_info_scraper/
sellking_real_estate_agents_info_scraper/

.vscode/

utils/__pycache__/
__pycache__/
*.pyc

data/
data/captcha/
data/1차 테스트 결과/
data/2차 테스트 결과(프롬프트 엔지니어링, 신뢰도, 추론이유 추가)/